.root {
  background: white;
  margin: 10px;
}
.main {
  display: flex;
  flex-direction: row;
}
.editor {
  font-variant-ligatures: normal;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 60px;
  text-align: center;
  color: rgba(0, 0, 0, 0);
  caret-color: blue;
}
::selection {
  background-color: #a1aeff;
}
.showOverlap {
  color: rgba(255, 0, 0, 0.8);
}

.canvas {
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}

.editorWrapper {
  border: solid 1px #888;
  padding: 0;
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
}
.editorWrapper > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
